<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="useGeneratedKeys" value="true" />
	</settings>

	<!-- alias for mapper -->
	<typeAliases>
		<typeAlias type="com.rainsho.entity.User" alias="User" />
	</typeAliases>

	<!-- environmet id -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<!-- dataSource -->
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/[DB_name]" />
				<property name="username" value="rain" />
				<property name="password" value="rain" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="com/rainsho/dao/UserMapper.xml" />
	</mappers>

</configuration>