<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd"
	xmlns:tx="http://www.springframework.org/schema/tx">

	<!-- aop config -->
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	<bean id="aop" class="com.rainsho.aop.LoginCheck"></bean>

	<!-- datasource and seesion -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<!-- connect / commit still by hibernate -->
		<property name="url" value="jdbc:mysql://localhost:3306/twcn"></property>
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="username" value="rain"></property>
		<property name="password" value="rain"></property>
	</bean>
	<!-- c3p0 dataSource in Hibernate Extra lib -->
	<!-- <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
		<property name="jdbcUrl"
			value="jdbc:mysql://localhost:3306/test?useSSL=false"></property>
		<property name="user" value="rain"></property>
		<property name="password" value="rain"></property>
		<property name="testConnectionOnCheckin" value="true"></property>
	</bean> -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- auto generated DAO -->
	<bean id="T2pDAO" class="com.rainsho.dao.T2pDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<!-- tx config -->
	<!-- <tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:advisor advice-ref="txAdvice"
			pointcut="execution(* com.rainsho.service.*.*(..))" />
	</aop:config> -->

	<!-- function -->
	<bean id="LoginService" class="com.rainsho.service.LoginService">
		<property name="dao" ref="UsersDAO"></property>
		<property name="rdao" ref="RelationshipsDAO"></property>
	</bean>
	<!-- default scope: singleton -->
	<bean id="LoginAction" class="com.rainsho.action.LoginAction" scope="prototype">
		<property name="service" ref="LoginService"></property>
	</bean>

</beans>